@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


$font: "Source Sans Pro", sans-serif;
$background: #1e2025;
$purple: #603fff;
//$block: #8d7ffe;
$block: #31343a;
//block:#5a5e68;
$text: #dadbdb;
$button: #603fff;
$grey-light: #dadbdb;
$bright-purple: #8169ff;
$primary: $purple;

$scheme-main: $background;

@import "../bulma/bulma.sass";

$navbar-height: 3.7rem;

.navbar-offset {
  margin-top: $navbar-height;
}

body {
  font-family: $font;
  color: $text;
  background-color: $background;
  //height: 500px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

section {
  background-color: $block;
}

.button.is-grey-white {
  background-color: white;
  border-radius: 12px;
  height: 30px;
  color: $bright-purple;
}

.footer {
  padding: 1rem;
  background-color: $block;
}

//navbar {
//  background-color: $primary;
//}
.navbar.is-purple {
  background-color: $bright-purple;
  color: #fff;
  height: $navbar-height;
}

//.navbar-brand{
//  height: 50px;
//}
.navbar-item {
  color: white;
}

body > footer {
  margin-top: auto;
}

.title {
  color: $purple
}

.session {
  margin: 30px;
}

div.title {
  margin: 10px 70px 10px;

}

.blocks {
  margin: 50px 100px 20px;
}

.block {
  background-color: $block;
  margin: 10px 0px 10px;
  padding: 30px 20px 35px 55px;
  border-radius: 40px;

}

span.tag {
  padding: 10px;
  width: 80px;
  height: 30px;
  border-radius: 3px;
  background-color: $background;
  color: grey;
}

.fill-viewport {
  min-height: 100vh;
}
