[[extend 'layout.html']]

<div class="section" style="margin-top: 50px">
  <div class="vars">
    DEBUG <br>
    SIGNED UP: <pre style="white-space: pre-wrap">[[=signed_up_sessions]]</pre>
    OWNED: <pre style="white-space: pre-wrap">[[=owned_sessions]]</pre>
  </div>
    [[if globals().get('user'):]]
    <div class="session">
        <div class="title">
            <h1 class="title is-size-2">Session</h1>
        </div>
        <div class="blocks">

            <div class="block">
                <div class="columns">
                    <div class="column is-four-fifths">
                        <h1 class="subtitle">Name</h1>
                        <p>description</p>
                        <p>presets</p>
                        <p>time</p>
                        <p>role</p>
                    </div>
                    <div class="column" style="padding-left: 80px">
                        <span class="tag is-size-6">
                            Awaiting
                        </span>
                    </div>
                </div>
            </div>

            <div class="block">
                <div class="columns">
                    <div class="column is-four-fifths">
                        <h1 class="subtitle">Name</h1>
                        <p>description</p>
                        <p>presets</p>
                        <p>time</p>
                        <p>role</p>
                    </div>
                    <div class="column" style="padding-left: 80px">
                        <span class="tag is-size-6">
                            Assigned
                        </span>
                    </div>
                </div>
            </div>


            <div class="block">
                <div class="columns">
                    <div class="column is-four-fifths">
                        <h1 class="subtitle">Name</h1>
                        <p>description</p>
                        <p>presets</p>
                        <p>time</p>
                        <p>role</p>
                    </div>
                    <div class="column" style="padding-left: 80px">
                        <span class="tag is-size-6">
                            <p>Past</p>
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>

    [[else:]]
    <div>
        <p>introduction</p>
    </div>
    [[pass]]




</div>
