[[extend 'layout.html']]

[[block page_head]]
<link rel="stylesheet" href="css/index.css">
[[end]]

[[if user:]]
<div class="section">
  <!--  <div class="vars">-->
  <!--    DEBUG <br>-->
  <!--    SIGNED UP:-->
  <!--    <pre style="white-space: pre-wrap">[[=signed_up_sessions]]</pre>-->
  <!--    OWNED:-->
  <!--    <pre style="white-space: pre-wrap">[[=owned_sessions]]</pre>-->
  <!--  </div>-->

  <div class="session">
    <div class="title">
      <h1 class="title is-size-2">Session</h1>
    </div>

    <div class="blocks">
      [[for session in sessions:]]
      <div class="block">
        <div class="columns">
          <div class="column is-two-thirds">
            <h1 class="subtitle">Name: [[=session.name]]</h1>
            <p>Description: [[=session.description]]</p>
          </div>

          <div class="column">
            <!--                    <div class="column" > style="padding-left: 80px"-->

            [[if session.selected_time_offset:]]
            <span class="tag is-size-6">
                                Assigned
                            </span>
            [[else:]]
            <span class="tag is-size-6">
                                Awaiting
                            </span>
            [[pass]]

            <div class="level">
              <div class="level-left">
                <a class="button" href="[[=URL('sessions', session.id)]]">
                  View
                </a>
              </div>
              <div class="level-right">
                <a class="button" href="[[=URL('sessions', session.id, 'edit')]]">
                  Edit
                </a>
              </div>
            </div>
          </div>
          <div>

          </div> <!-- second column -->
        </div> <!-- columns -->
      </div> <!-- block -->
      [[pass]]
    </div><!-- blocks -->

  </div>   <!-- session-->
</div> <!-- out-->

<!-- ========== Not logged in: CTA ============ -->
[[else:]]
<section class="hero is-large has-background-splash">
  <div class="hero-body">
    <!-- empty div for layout purposes -->
  </div>
  <div class="hero-foot">
    <div class="has-background-translucent">
      <p class="title">
        Raidnight
      </p>
      <p class="subtitle">
        A better way to find time to play with your friends.
      </p>
    </div>
  </div>
</section>

<section class="section">
  <div class="columns">
    <div class="column is-three-fifths">
      <h2 class="title">
        Intuitive.
      </h2>
      <p class="subtitle">
        Quick to set up and intuitive to use, Raidnight will find the time that works best for you and your
        friends. Built to help bring friends together to play Final Fantasy 14, Raidnight offers
        presets to get you started in seconds.
      </p>
    </div>
    <div class="column">
      <img src="img/front_1.png">
    </div>
  </div>
</section>

<section class="section">
  <div class="columns">
    <div class="column">
      <img src="img/front_2.png">
    </div>
    <div class="column is-three-fifths">
      <h2 class="title">
        Smart.
      </h2>
      <p class="subtitle">
        Who's the healer again? No more shuffling roles - Raidnight finds not just the best time, but the best role for
        each person to play, too.
      </p>
    </div>
  </div>
</section>

<section class="section">
  <div class="columns">
    <div class="column is-three-fifths">
      <h2 class="title">
        Customizable.
      </h2>
      <p class="subtitle">
        Don't play FFXIV? The role system is completely customizable - you can use Raidnight for D&amp;D, WoW, meetings,
        or any other time you might need to bring together a group of people!
      </p>
    </div>
    <div class="column">
      <img src="img/front_3.png">
    </div>
  </div>
</section>

<section class="section has-text-centered">
  <h2 class="title">
    Get Started
  </h2>

  <div class="level">
    <div class="level-item">
      <div class="field is-grouped is-centered">
        <p class="control">
          <a class="button is-primary" href="[[=URL('auth/plugin/oauth2discord/login')]]">
            Log in with Discord
          </a>
        </p>
        <p class="control">
          <a class="button is-primary" href="[[=URL('sessions/new')]]">
            Create a Session
          </a>
        </p>
      </div>
    </div>
  </div>
</section>

[[pass]]

<!--            static-->
<!--            <div class="block">-->
<!--                <div class="columns">-->
<!--                    <div class="column is-four-fifths">-->
<!--                        <h1 class="subtitle">Name</h1>-->
<!--                        <p>description</p>-->
<!--                        <p>presets</p>-->
<!--                        <p>time</p>-->
<!--                        <p>role</p>-->
<!--                    </div>-->
<!--                    <div class="column" style="padding-left: 80px">-->
<!--                        <span class="tag is-size-6">-->
<!--                            Assigned-->
<!--                        </span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->


<!--            <div class="block">-->
<!--                <div class="columns">-->
<!--                    <div class="column is-four-fifths">-->
<!--                        <h1 class="subtitle">Name</h1>-->
<!--                        <p>description</p>-->
<!--                        <p>presets</p>-->
<!--                        <p>time</p>-->
<!--                        <p>role</p>-->
<!--                    </div>-->
<!--                    <div class="column" style="padding-left: 80px">-->
<!--                        <span class="tag is-size-6">-->
<!--                            <p>Past</p>-->
<!--                        </span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->



