<!DOCTYPE html>
<html>
  <head>
    <base href="[[=URL('static')]]/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="data:image/x-icon;base64,AAABAAEAAQEAAAEAIAAwAAAAFgAAACgAAAABAAAAAgAAAAEAIAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAPAAAAAA=="/>
    <link rel="stylesheet" href="css/bulma.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <style>.py4web-validation-error{margin-top:-16px; font-size:0.8em;color:red}</style>
    [[block page_head]]<!-- individual pages can customize header here -->[[end]]
  </head>
  <body>
    <!-- Navigation bar -->
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="[[=URL('index')]]">
          Learn py4web
          <!-- <img class="logo" width="150" src="images/site_icon.png"> -->
        </a>


        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="the-navbar-menu"
           onclick="this.classList.toggle('is-active');document.getElementById(this.dataset.target).classList.toggle('is-active');">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="the-navbar-menu" class="navbar-menu">
        <div class="navbar-start">
          [[block page_menu_items]]<!-- individual pages can add menu items here -->[[end]]
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              [[if globals().get('user'):]]
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link is-primary">
                    [[=globals()['user'].get('username')]]
                  </a>
                  <div class="navbar-dropdown">
                    <a class="navbar-item" href="[[=URL('auth/logout')]]">Logout</a>
                    <!-- <a class="navbar-item" href="[[=URL('auth/profile')]]">Profile</a> -->
                  </div>
                </div>
              [[else:]]
                <a class="button is-success" href="[[=URL('auth/plugin/oauth2discord/login')]]">Log in with Discord</a>
              [[pass]]
            </div>
          </div>
        </div>
      </div>
    </nav>

    <!-- beginning of HTML inserted by extending template -->
    [[include]]
    <!-- end of HTML inserted by extending template -->
    <footer class="footer">
      <div class="content has-text-centered">
        Made with <a href="https://py4web.com">py4web</a>.
        <a href="https://learn-py4web.github.io">Learn py4web!</a>
      </div>
    </footer>
  </body>
  <!-- You've gotta have utils.js -->
  <script src="js/utils.js"></script>
  <script src="js/vue.global.js"></script>
  [[block page_scripts]]<!-- individual pages can add scripts here -->[[end]]
</html>
